.container {
  width: 100%;
  height: calc(100vh - 5rem);

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .information {
    max-width: 720px;

    h1 {
      font-weight: bold;

      span {
        color: var(--purple);
      }
    }

    p {
      margin-top: 1rem;
      line-height: 1.75rem;
    }
  }
}
